openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStations'
  /v3.0/search/:
    get:
      tags:
      - getSchedule
      summary: Расписание рейсов между станциями
      operationId: getSchedule
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Cтанция отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Cтанция прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа
        required: false
        schema:
          type: string
          enum: [json, xml]
      - name: lang
        in: query
        description: Язык ответа
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: Тип транспорта
        required: false
        schema:
          type: string
          enum: [plane, train, suburban, bus, water, helicopter]
      - name: system
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [yandex, iata, sirena, express, esr]
      - name: show_systems
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [yandex, esr]
      - name: offset
        in: query
        description: Смещение
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: Лимит ответа
        required: false
        schema:
          type: integer
      - name: add_days_mask
        in: query
        description: Возвращать календарь хождения
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: Часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: Добавить маршруты с пересадками
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsSchedule'
  /v3.0/schedule/:
    get:
      tags:
      - getStationSchedule
      summary: Расписание рейсов между станциями
      operationId: getStationSchedule
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Cтанция отправления
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: Язык ответа
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа
        required: false
        schema:
          type: string
          enum: [json, xml]
      - name: date
        in: query
        description: Дата
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: Тип транспорта
        required: false
        schema:
          type: string
          enum: [plane, train, suburban, bus, water, helicopter]
      - name: direction
        in: query
        description: Код направления
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [departure, arrival]
      - name: system
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [yandex, iata, sirena, express, esr]
      - name: show_systems
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [yandex, esr, all]
      - name: result_timezone
        in: query
        description: Часовой пояс
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationSchedule'
  /v3.0/thread/:
    get:
      tags:
      - getDestinationStations
      summary: Список станций следования
      operationId: getDestinationStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки
        required: true
        schema:
          type: string
      - name: form
        in: query
        description: Код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа
        required: false
        schema:
          type: string
          enum: [json, xml]
      - name: lang
        in: query
        description: Язык ответа
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата
        required: false
        schema:
          type: string
          format: date
      - name: show_systems
        in: query
        description: Системак кодирования
        required: false
        schema:
          type: string
          enum: [yandex, esr, all]
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationStations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - getNearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'
  /v3.0/carrier/:
    get:
      tags:
      - getCarriersInfo
      summary: Информация о перевозчике
      operationId: getCarriersInfo
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: система
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
components:
  schemas:
    NearestStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station_Item'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station_Item:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    StationsSchedule:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/Interval_segment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    Interval_segment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/From'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/To'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/Tickets_info'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/From'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/To'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/Tickets_info'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/To'
        from:
          $ref: '#/components/schemas/From'
    From:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/Transport_subtype'
        express_type:
          type: string
    To:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
    Tickets_info:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    Transport_subtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    StationSchedule:
      type: object
      properties:
        date:
          type: string
          format: date
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/Schedule_Item'
        schedule_direction:
          $ref: '#/components/schemas/Schedule_direction'
        directions:
          $ref: '#/components/schemas/Directions'
    Station:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
          enum: [station, platform, stop, checkpoint, post, crossing, overtaking_point, train_station, airport, bus_station, bus_stop, unknown, port, port_point, wharf, river_port, marine_station]
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        transport_type:
          type: string
          enum: [plane, train, suburban, bus, water, helicopter]
        type:
          type: string
    Codes:
      type: object
      properties:
        yandex:
          type: string
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
        esr:
          type: string
    Schedule_Item:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
          format: date
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Schedule_direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Directions:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    DestinationStations:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/Transport_subtype'
        express_type:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
          format: date
        departure:
          type: string
          format: date
        duration:
          type: integer
        stop_time:
          type: integer
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
        platform:
          type: string
    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
          enum:
            - station
            - settlement
    Carriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'

